h1{color:#666;}
.index,._blank{text-decoration: none;background: transparent;display: inline-block;}
._blank{color:#999;margin-left: 3px;}
.index{border:1px solid #ccc;padding: 5px 3px 0px 3px;border-bottom: 0;}
.photo-wrap{border-bottom: 1px solid #ccc;}
.inner{margin-top:20px;}